* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    width: 1508px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.imglogo {
  height: 110px;
  margin-left: 50px;
    
}


.h1 {
    margin-left: 10px;
    color: #ffffff;
    margin-right: 800px;
}
p{
    margin-left:-630px ;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    left: 565px;
    margin-top: 17px;
    width: 385px;
    text-align: center;
}


.b1{
    height: 40px;
    width: 100px;
    margin-right: 100px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #fffdfd;
    border-radius: 30%;

}

.b1:hover {
    height: 41px;
    width: 105px;
    background-color: #232323;
    color: #ffffff;
}


footer {
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
}

.forms{
    margin-top: 50px;
    position: relative;
    top: 10px;
    border-radius: 75px;
    border: 2px solid #276a40;
    width: 400px;
    background-color: white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    height: 510px;
    left: 550px;
    text-align: center;
}
.nome{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000000;
    margin-left: -300px;
    position: relative;
}
.Email{
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000000;
    margin-left: -300px;
    position: relative;
}

.senha{
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000000;
    margin-left: -300px;
    position: relative;
}

h2{
    margin-top: 20px;
    font-family: "Helvetica Neue";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #276a40;
}
.nomeinp, #TipoEmail, .senhainp {
    border-radius: 50px;
    border: 1px solid #276a40;
    width: 340px;
    background-color: #ffffff;
    height: 40px;
    
    position: relative;
    padding-left: 5px;
}

.cadastrar{
    margin-top: 10px;
    border-radius: 50px;
    background-color: #276a40;
    border: 1px solid var(--cor-font);
    color: #ffffff;
    width: 250px;
    height: 50px;
    padding-left: 5px;
}

footer{
    margin-top: 50px;
    height: 70px;
}

.ultimoP {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    left: 565px;
    margin-top: 17px;
    width: 385px;
    text-align: center;
    margin-left: 10px;
}