body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Quiz {
  width: 300px;
  margin-left: 10px;
  color: #ffffff;
}

.entrar {
  height: 40px;
  width: 90px;
  background-color :#333 ;
  color: #fff;
  border-radius: 30px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 1px;


}

.cadastrar{
  height: 40px;
  width: 110px;
  background-color: #333;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;


}

.entrar:hover {
  background-color: #000;
  color: #fff;
}

.cadastrar:hover {
  background-color: #000;
  color: #fff;
}

.pw {
  width: 1800px;
  height: 55px;
  background-image: linear-gradient(#004E40 1%,#006661);
  display: inline;
  list-style: none;
  display: flex;
  color: white;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 1px;
}


.bt0 {
  height: 30px;
  width: 100px;
  margin-left: 650px;
  background-color :#E1D8D8;
  color: #000000;
  border-radius: 30px;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 14px;
}

.bt0:hover {
  background-color: #000;
  color: #fff;
}

.bt2 {
  margin: 3px;
  height: 30px;
  width: 118px;
  margin-left: 40px;
  background-color :#E1D8D8;
  color: #000000;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 14px;
}

.bt2:hover {
  background-color: #000;
  color: #fff;
}

.bt3 {
  margin: 3px;
  height: 30px;
  width: 100px;
  margin-left: 40px;
  background-color :#E1D8D8;
  color: #000000;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 14px;
}

.bt3:hover {
  background-color: #000;
  color: #fff;
}

.imglogo {
    margin-left: 10px;
    height: 110px;
    position: relative;
    top: 5px;
    padding: 0;
}

.logo {
    margin-right: 850px;
    height: 100px;
    position: relative;
    top: 10px;
  
}

.content {
  margin-top: 30px;
  height: 400px;
  width: 750px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.content .slide img {
  height: 100%;
  width: 100%;
}

.navigation {
  position: absolute;
  bottom: 160px;
  left: 850px;
  display: flex;
}

.bar {

  width: 15px;
  height: 15px;
  border: 2px solid white;
  margin: 6px;
  border-radius: 15px;
  cursor: pointer;
  transform: .5s ease;

}

.bar:hover {
  background-color: white;
}

input {
display: none;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: .3s;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
} 

#slide2:checked ~ .s1 {
  margin-left: -20%;
} 

#slide3:checked ~ .s1 {
  margin-left: -40%;
} 

#slide4:checked ~ .s1 {
  margin-left: -60%;
} 

#slide5:checked ~ .s1 {
  margin-left: -80%;
} 

.modalimg1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 20px 0px;
    background-color: rgba(12, 12, 12, 0.785);
}
.modal-content-img1{
    background-color: #fffffff5;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid #000000;
    width: 80%;
    border-radius: 20px 20px;
}

.close{
  color:#006661;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
h3{
  font-size: 1.7em;
  color:#006661
}
i2{
  font-size: 1.5em;
  color: rgb(6, 6, 6);
}

.h1 {
    box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);
    color: #fffefe;
    margin-top: 20px;
    margin-left: 350px;
}

.h2 {
    box-shadow:2px 5px 7px rgba(0, 0, 0, 0.3);
    color: #666;
}

.banner {
  height: 400px;
    background-color: #555;
    color: white;
    padding: 50px;
    text-align: center;
}

.produtos {
    text-align: center;
}

.produto-lista {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.produto-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.produto-item img {
    width: 100%;
    height: auto;
}

.produto-gra {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}



footer {
    height: 68px;
    background-color: #333;
    color: white;
    padding: 1px;
    text-align: center;
   
}

